.news-list {
    padding: 0;
    margin: 0 0 60px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.news-list--tile {
    gap: 60px;
}

.news-list__item {
    width: calc(50% - 30px * 1 / 2);
}

.news-list--tile .news-list__item {
    width: 100%;
}